html,
body,
#mapDiv {
    padding: 0;
    margin: 0;
    height: 100%;
}

#mapDiv {
    position: relative;
}

#bottomPanel {
    top: 1em;
    right: 0.5em;
    position: absolute;
    width:50%;
    min-width: 300px;
}

#timeInfo {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    display: block;
    padding: 5px;
    position: relative;
    text-align: center;
    height:60px;
    z-index: 99;
}
.dijitRuleLabel{color:#fff;}

#stats {
    position: absolute;
    top: 6em;
    right: 0.5em;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    height:310px;
    width:100px;
    z-index: 1000;
    text-align: center;
    font-family: Verdana, sans-serif;
}
#speciesName{
    color:#fff;
    border-bottom: 1px solid #ddd;
}

#stats table {
    width:98%;
    height:95%;
    margin:auto;
}

#stats th{
    color:#eee;
    padding:0px;
    margin:0px;
    font-size: 0.9em;
}

#stats table td {
    font-size:1em;
    color:#002266;
    font-weight: bold;
}


.dijitRuleLabelH {font-family: Verdana, sans-serif;font-size:1.2em;}