html,
body,
#mapDiv {
    padding: 0;
    margin: 0;
    height: 100%;
}

#mapDiv {
    position: relative;
}

#bottomPanel {
    top: 1em;
    right: 1em;
    position: absolute;
}

#timeInfo {
    border-radius: 4px;
    border: solid 2px #ccc;
    background-color: rgba(240, 240, 240, 0.8);
    display: block;
    padding: 5px;
    position: relative;
    text-align: center;
    width: 800px;
    height:40px;
    z-index: 99;
}

#stats {
    position: absolute;
    top: 5.5em;
    right: 1.0em;
    border-radius: 5px;
    height:110px;
    width:430px;
    background-color:rgba(240,240,240, 0.8);
    z-index: 1000;
    text-align: center;
    font-family: Verdana, sans-serif;
    border: solid 2px #ccc;
}
#speciesName{
    color:#333;
    border-bottom: 1px solid gray;
}

#stats table {
    width:98%;
    height:95%;
    margin:auto;
    table-layout: fixed;
}

.theader {
    height:25%;
}

#stats th{
    color:#333;
    padding:0px;
    margin:0px;
    font-size: 0.9em;
}

#date {
    font-size:1.1em;
    color:#056161;
    font-weight: bold;
}
#total {
    font-size:1.2em;
    color:#005580;
    font-weight: bold;
}
#stations {
    font-size:1.2em;
    color:#1f3d7a;
    font-weight: bold;
}

.dijitRuleLabelH {font-family: Verdana, sans-serif;font-size:1.2em;}