    #titleHeader {
        min-height: 3em;
        position: fixed;
        width:100%;
        background-color: rgba(160,160,160, 0.4);
        font-family: sans-serif;
        z-index: 10000;
        display: block;
        padding:0 10%;
    }

    #title {
        margin:1em 0 0.5em 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 450px;
        min-width: 275px;
        width:75%;
    }

    #subtitle {
        margin:1em 12% 1em 0;
        float:right;
        height:100%;
    }

	body {
		padding: 0;
		margin: 0;
        background-color: gray;
	}

	html, body, #map {
		height: 100%;
		width: 100%;
		padding: 0;
		margin: 0;
	}

    .arrow_box {
	position: absolute;
	background: rgba(160,160,160, 0.4);
	border: 2px solid white;
    right:50px;
    bottom:180px;
    border-radius: 4px;
    padding:4px 30px 4px 4px;
    color:white;
    font-family: sans-serif;
}

    #close_box {
        float:right;
        padding:0 1px 0px 7px;
        font-size: 0.7em;
        top:-9px;
        right:2px;
        position: absolute;
    }

#close_box:hover {
    cursor: pointer;
}

.arrow_box:after, .arrow_box:before {
	left:100%;
	bottom:30%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: white;
	border-width: 5px;
	margin-top: -5px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: white;
	border-width: 9px;
	margin-top: -9px;
}

.line_popup {
	position: absolute;
	background: rgba(160,160,160, 0.4);
	border: 2px solid white;
    right:10px;
    bottom:230px;
    border-radius: 4px;
    padding:4px 4px 4px 4px;
    color:white;
    font-family: sans-serif;
    display:none;
}

.line_popup P {
    padding: 5px;
    margin: 0;
}

	th {
		text-align: left;
		vertical-align: top;
	}
		
		.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
        }
    .info h2 {
    margin: 0 0 5px;
    color: #777;
}
		.leaflet-container {
    background: #FFF;
        }

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-device-width : 1024px) {
    .arrow_box {display:none;}
    .line_popup {display:none;}
    .leaflet-draw-toolbar {display: none;}
    #subtitle {display:none;}
    #titleHeader {padding: 0 4%;}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
    #title {width:50%; min-width: 100px; margin:0.3em 0; min-height: 2em;}
}

